In [3]:
import numpy as np
import igraph as ig
import pandas as pd
from numpy.linalg import norm

def l1_row(row):
    row_sum = norm(row, ord=1)
    if row_sum == 0:
        return row
    else:
        return row / row_sum

def norm_rows(df):
    return df.apply(l1_row,axis=1)

# ---- parameters that can be tweaked:
# weight variables of edges of G
## project -> account
d = 4.0 / 7.0
m = 2.0 / 7.0
c = 1.0 / 7.0
## account -> project
m_ = 3.0 / 5.0
c_ = 2.0 / 5.0

# dapening factors
e_proj = 0.9
e_account = 0.1

# number of iterations
niter = 1000

#  ----------------------------------

def adj_p_and_acc(D, C, M):
    acc0 = pd.DataFrame(np.zeros((np.size(acc),np.size(acc))), columns=acc, index=acc)

    p_p = d * norm_rows(D)
    p_a = m * norm_rows(M) + c * norm_rows(C)
    a_p = (m_ * M.transpose()).multiply(norm_rows(C.transpose())) + (c_ * norm_rows(C.transpose()))
    # combine the matrices
    return norm_rows(pd.concat([pd.concat([p_p,a_p], axis=0),pd.concat([p_a,acc0], axis=0)], axis=1))

# list of all projects / accounts - will specify the ordering
proj_meta = pd.read_csv('data/cargo-dependencies-meta.csv', delimiter=',', dtype={'ID': 'Int64'}).dropna();
proj_ids = proj_meta['ID'].tolist()
# acc = ['a1', 'a2', 'a3']
# labels = np.concatenate((proj,acc), axis=0)

proj_meta.head()

      ID          Name Platform
0  30742        acacia    Cargo
1  30745           aio    Cargo
2  30746  advapi32-sys    Cargo
3  30747        alfred    Cargo
4  30748     algebloat    Cargo

In [4]:
deps = pd.read_csv('data/cargo-dependencies.csv', delimiter=',');
deps.head()

   FROM_ID   TO_ID
0    30742   31187
1    30742   31296
2    30742   31295
3    30742   31085
4    30742  428702

In [7]:
def adj_via_from_to(from_to, all_ids):
    adj = pd.DataFrame(0, columns=all_ids, index=all_ids)
    for index, row in from_to.iterrows():
        if row['FROM_ID'] in adj.index.tolist():
            adj.at[row['FROM_ID'], row['TO_ID']] = 1
    return adj

adjdf = adj_via_from_to(deps, proj_ids);
adjdf.head()

,30742,30745,30746,30747,30748,30750,30751,30753,30754,30755,...,3469060,3394154,3405396,3480649,3483337,3483781,3483812,2683436,31398,2682138
30742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30748,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Write adjacency matrix data to csv
#adjdf.to_csv('data/cargo-adjdf.csv')

In [6]:
labels = proj_meta['Name'].tolist()

def g_from_adj(adjdf):
    adjmat = adjdf.values
    # construct the graph from the adjacency matrix
    g = ig.Graph.Adjacency(adjmat.astype(bool).tolist())
    g.es['weight'] = adjmat[adjmat.nonzero()]
    g.vs['label'] = labels
    return g

def page_rank(g):
    # reset = [e_proj] * len(proj) + [e_account] * len(acc)
    reset = [e_proj] * len(proj_ids)
    page_rank = g.personalized_pagerank(reset=reset, niter=niter);
    return pd.DataFrame({'ID': proj_ids, 'Name': labels, 'page_rank': page_rank})

g = g_from_adj(adjdf)

page_rank = page_rank(g)
page_rank_top100 = page_rank.sort_values(by=['page_rank'], ascending=False).head(100)

In [21]:
#Write page_rank data to csv
page_rank.sort_values(by=['page_rank'], ascending=False).to_csv('data/cargo-pagerank.csv', index= False)

In [20]:
page_rank_top100

            ID                      Name  page_rank
3563   1369785                num-traits   0.059415
1005    428702                      rand   0.035209
518      31533                    winapi   0.033656
425      31384                     serde   0.026141
242      31115                      libc   0.022697
4550   1629953              serde_derive   0.020821
16285  3414109  rustc-std-workspace-core   0.019508
396      31342           rustc-serialize   0.014597
7998   2353652               proc-macro2   0.013991
1542    783030                    clippy   0.013728
259      31140                       log   0.013532
236      31105               lazy_static   0.011097
16220   796081              winapi-build   0.011065
1543    783031            compiletest_rs   0.011040
4593   1638796                     quote   0.010733
301      31212                       num   0.010618
379      31311                     regex   0.010106
368      31296                quickcheck   0.008700
2077    922107                serde_json   0.008614
8962   2448837                 rand_core   0.007968
4629   1647361                       syn   0.007255
1078    653520                   tempdir   0.006053
16226    30798                  bitflags   0.005939
1143    702557              serde_macros   0.005612
1008    428781                 byteorder   0.005509
228      31094              kernel32-sys   0.005430
16328   770837               unicode-xid   0.005391
4102   1559116                serde_test   0.005060
4335   1595835                   futures   0.004789
423      31382                    semver   0.004690
...        ...                       ...        ...
26       30774                 ansi_term   0.001548
476      31457                      term   0.001509
3558   1369780                num-bigint   0.001500
6979   2251865    serde_derive_internals   0.001498
3562   1369784                  num-iter   0.001485
988     396253                     bytes   0.001390
6565   2181387                    stdweb   0.001382
221      31085                 itertools   0.001361
13399  3187174               packed_simd   0.001332
16349  3286418             rand_xorshift   0.001322
16264   759818             unicode-width   0.001321
8010   2354817                   magenta   0.001295
1010    428784               rand_macros   0.001291
8716   2448528            fuchsia-zircon   0.001291
15134  3370220                   rand_hc   0.001270
14611  3286426                  rand_pcg   0.001270
14909  3334452               rand_chacha   0.001268
14879  3332574                rand_isaac   0.001261
10156  2576150                  cloudabi   0.001261
7053   2262792                   average   0.001261
14880  3332579                rand_hc128   0.001261
74       30848                   collect   0.001255
3561   1369783              num-rational   0.001227
4650   1649939                tokio-core   0.001222
11267  2676093              futures-core   0.001158
112      30920                    docopt   0.001153
2344    993776                   walkdir   0.001132
16292   432620                      void   0.001128
16329  1803959             redox_syscall   0.001125
6840   2216325               serde_bytes   0.001116

[100 rows x 3 columns]

In [ ]:
layout = g.layout("large")
vertex_weights = [i * 100 for i in page_rank['page_rank'].tolist()]
adjmat = adjdf.values
edge_weights = [i * 10 for i in adjmat[adjmat.nonzero()]]
#ig.plot(g, vertex_size=vertex_weights, vertex_color=(["blue"] * len(proj_ids)), vertex_label_dist=1, edge_width=edge_weights, layout=layout)