In [5]:
import numpy as np
import pandas as pd

pr = pd.read_csv('data/cargo-pagerank.csv', delimiter=',');

In [6]:
#Get downloads data from crates
import requests

data = requests.get('https://crates.io/api/v1/crates?page=1&per_page=100&sort=downloads').json()['crates']
df = pd.DataFrame.from_dict(data)
df.head()

,badges,categories,created_at,description,documentation,downloads,exact_match,homepage,id,keywords,links,max_version,name,recent_downloads,repository,updated_at,versions
0,"[{'badge_type': 'travis-ci', 'attributes': {'b...",None,2015-02-03T06:17:14.147783+00:00,Random number generators and other randomness ...,https://rust-random.github.io/rand,15064017,False,https://crates.io/crates/rand,rand,None,{'version_downloads': '/api/v1/crates/rand/dow...,0.6.5,rand,3170089,https://github.com/rust-random/rand,2019-01-28T09:56:57.788327+00:00,None
1,"[{'badge_type': 'appveyor', 'attributes': {'pr...",None,2015-01-15T20:22:13.100871+00:00,Raw FFI bindings to platform libraries like li...,http://doc.rust-lang.org/libc,14978695,False,https://github.com/rust-lang/libc,libc,None,{'version_downloads': '/api/v1/crates/libc/dow...,0.2.58,libc,2027172,https://github.com/rust-lang/libc,2019-06-02T11:48:10.298304+00:00,None
2,"[{'badge_type': 'travis-ci', 'attributes': {'b...",None,2015-01-15T08:35:24.901276+00:00,A macro to generate structures which behave li...,https://docs.rs/bitflags,14011568,False,https://github.com/bitflags/bitflags,bitflags,None,{'version_downloads': '/api/v1/crates/bitflags...,1.0.4,bitflags,1999966,https://github.com/bitflags/bitflags,2019-05-02T06:02:56.939362+00:00,None
3,"[{'badge_type': 'appveyor', 'attributes': {'pr...",None,2014-11-23T01:18:10.993977+00:00,A macro for declaring lazily evaluated statics...,https://docs.rs/lazy_static,12010972,False,None,lazy_static,None,{'version_downloads': '/api/v1/crates/lazy_sta...,1.3.0,lazy_static,2018229,https://github.com/rust-lang-nursery/lazy-stat...,2019-02-27T00:02:09.802332+00:00,None
4,"[{'badge_type': 'appveyor', 'attributes': {'pr...",None,2014-12-13T22:10:19.944550+00:00,A lightweight logging facade for Rust\n,https://docs.rs/log,11992266,False,https://github.com/rust-lang/log,log,None,{'version_downloads': '/api/v1/crates/log/down...,0.4.6,log,1977182,https://github.com/rust-lang/log,2018-10-27T19:06:10.563576+00:00,None

In [7]:
len(df)

100

In [ ]:
#Compose dependency metadata data frame
df_downloads = df[['id', 'downloads']].copy()
#Rename Columns
df_downloads = df_downloads.rename(columns={'id': 'Name', 'downloads': 'Downloads'})
df_downloads.head()

In [9]:
#Load Pageranks and merge with Downloads data
df_deps = pd.read_csv('data/cargo-pagerank.csv', delimiter=',');


df_deps_downloads = pd.merge(df_deps, df_downloads, on='Name')
df_deps_downloads.head()

        ID        Name  page_rank  Downloads
0  1369785  num-traits   0.059415    8959699
1   428702        rand   0.035209   15064017
2    31533      winapi   0.033656    8867366
3    31384       serde   0.026141   10938500
4    31115        libc   0.022697   14978695

In [10]:
#Add Ranks for Pagerank and Downloads to data frame
df_deps_downloads['PR_Rank'] = df_deps_downloads.page_rank.rank(ascending= False)
df_deps_downloads['DL_Rank'] = df_deps_downloads.Downloads.rank(ascending= False)
df_deps_downloads.head()

        ID        Name  page_rank  Downloads  PR_Rank  DL_Rank
0  1369785  num-traits   0.059415    8959699      1.0     12.0
1   428702        rand   0.035209   15064017      2.0      1.0
2    31533      winapi   0.033656    8867366      3.0     13.0
3    31384       serde   0.026141   10938500      4.0      6.0
4    31115        libc   0.022697   14978695      5.0      2.0

In [11]:
#Write to osrank analysis csv
df_deps_downloads.to_csv('data/cargo-osrank-analysis.csv', index= False)

In [14]:
import numpy as np
import pandas as pd

df_contrib = pd.read_csv('data/gh-contributions.csv', delimiter=',');
df_contrib.head()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,maintainer,repo,contributions,Name
0,1505422b2465e9a84f6fdfaa161078890c593f06@githu...,shenzhouzd/update,1140574,update
1,1a5ddd760534b32e2190eeee14c30bd038fb6adf@duane...,duaneking/rockstar_test,597893,rockstar_test
2,99b48da825c239c6ecd0a54ebfc11552d7ffb56f@mycro...,Dark5ide/mycroft-core,524381,mycroft-core
3,1505422b2465e9a84f6fdfaa161078890c593f06@local...,g0v-data/mirror,501788,mirror
4,d9075c74411dff69aa26d076c852f9974f5cf7cf@gmail...,spiderworthy/linux,495786,linux

In [15]:
df_deps_meta = pd.read_csv('data/cargo-dependencies-meta.csv', delimiter=',');
df_deps_meta.head()

      ID          Name Platform
0  30742        acacia    Cargo
1  30745           aio    Cargo
2  30746  advapi32-sys    Cargo
3  30747        alfred    Cargo
4  30748     algebloat    Cargo

In [16]:
# Merge Metadata and GH Contributions data
df_contrib = pd.merge(df_contrib, df_deps_meta, on='Name')
df_contrib.head()

,maintainer,repo,contributions,Name,ID,Platform
0,NaN,zach14c/mysql,63816,mysql,31186,Cargo
1,35a2c6fae61f8077aab61faa4019722abf05093c@mysql...,zach14c/mysql,2740,mysql,31186,Cargo
2,marko,Anirudhk94/mysql,1989,mysql,31186,Cargo
3,marko,yslzsl/mysql,1989,mysql,31186,Cargo
4,marko,robery567/mysql,1989,mysql,31186,Cargo

In [18]:
len(df_contrib)

715099

In [19]:
#Drop Nulls and NAs
df_contrib = df_contrib.dropna()
#Drop NaNs
df_contrib = df_contrib[~df_contrib.isin([np.nan, np.inf, -np.inf]).any(1)]

In [20]:
len(df_contrib)

714977

In [21]:
#Dedup
df_contrib = df_contrib.drop_duplicates()
df_contrib = df_contrib.reset_index(drop=True)
df_contrib.head()

,maintainer,repo,contributions,Name,ID,Platform
0,35a2c6fae61f8077aab61faa4019722abf05093c@mysql...,zach14c/mysql,2740,mysql,31186,Cargo
1,marko,Anirudhk94/mysql,1989,mysql,31186,Cargo
2,marko,yslzsl/mysql,1989,mysql,31186,Cargo
3,marko,robery567/mysql,1989,mysql,31186,Cargo
4,marko,fengshao0907/mysql,1989,mysql,31186,Cargo

In [22]:
len(df_contrib)

714977

In [25]:
df_contrib

,maintainer,repo,contributions,Name,ID,Platform
0,35a2c6fae61f8077aab61faa4019722abf05093c@mysql...,zach14c/mysql,2740,mysql,31186,Cargo
1,marko,Anirudhk94/mysql,1989,mysql,31186,Cargo
2,marko,yslzsl/mysql,1989,mysql,31186,Cargo
3,marko,robery567/mysql,1989,mysql,31186,Cargo
4,marko,fengshao0907/mysql,1989,mysql,31186,Cargo
5,marko,itspluxstahre/mysql,1989,mysql,31186,Cargo
6,marko,twitter/mysql,1989,mysql,31186,Cargo
7,marko,1yfgT53/mysql,1989,mysql,31186,Cargo
8,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,itspluxstahre/mysql,1906,mysql,31186,Cargo
9,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,fengshao0907/mysql,1906,mysql,31186,Cargo
10,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,robery567/mysql,1906,mysql,31186,Cargo
11,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,twitter/mysql,1906,mysql,31186,Cargo
12,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,Anirudhk94/mysql,1906,mysql,31186,Cargo
13,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,1yfgT53/mysql,1906,mysql,31186,Cargo
14,3492c7c598251ad856af49f9b9220ecd6ff96ece@neptu...,yslzsl/mysql,1906,mysql,31186,Cargo
15,956dd26c7923d6af4d516ee64c629e14df4d994c@Oracl...,zach14c/mysql,1856,mysql,31186,Cargo
16,a9f016bc89a833193596cbc6e9f8dc2bcfb46be3@oracl...,zach14c/mysql,1514,mysql,31186,Cargo
17,55d448b815f9829dd31c4f14dad3285350207118@serg....,Anirudhk94/mysql,1472,mysql,31186,Cargo
18,55d448b815f9829dd31c4f14dad3285350207118@serg....,robery567/mysql,1472,mysql,31186,Cargo
19,55d448b815f9829dd31c4f14dad3285350207118@serg....,fengshao0907/mysql,1472,mysql,31186,Cargo
20,55d448b815f9829dd31c4f14dad3285350207118@serg....,twitter/mysql,1472,mysql,31186,Cargo
21,55d448b815f9829dd31c4f14dad3285350207118@serg....,yslzsl/mysql,1472,mysql,31186,Cargo
22,55d448b815f9829dd31c4f14dad3285350207118@serg....,itspluxstahre/mysql,1472,mysql,31186,Cargo
23,55d448b815f9829dd31c4f14dad3285350207118@serg....,1yfgT53/mysql,1472,mysql,31186,Cargo
24,9fd74646cd6fbd7cd745a25c5c6ca0743c1076c3@oracl...,zach14c/mysql,1445,mysql,31186,Cargo
25,04bf886e8ac26aef79ce20e35be5e4e7220e2db3@sanja...,robery567/mysql,1442,mysql,31186,Cargo
26,04bf886e8ac26aef79ce20e35be5e4e7220e2db3@sanja...,yslzsl/mysql,1442,mysql,31186,Cargo
27,2bc6038c3dfca09b2da23c8b6da8ba884dc2dcc2@posei...,twitter/mysql,1442,mysql,31186,Cargo
28,04bf886e8ac26aef79ce20e35be5e4e7220e2db3@sanja...,1yfgT53/mysql,1442,mysql,31186,Cargo
29,04bf886e8ac26aef79ce20e35be5e4e7220e2db3@sanja...,twitter/mysql,1442,mysql,31186,Cargo
...,...,...,...,...,...,...
714947,b794eb388d850d436e42842c0ea9ee7c4a203e36@gmail...,dfockler/rustpiet,15,rustpiet,2489661,Cargo
714948,22ee222944604bd92472f5d3b0c13580d963ce31@gmx.com,msempere/redispool,15,redispool,789749,Cargo
714949,5c2dd944dde9e08881bef0894fe7b22a5c9c4b06@exia.io,agi90/libretro-backend,15,libretro-backend,1770820,Cargo
714950,34c6fceca75e456f25e7e99531e2425c6c1de443@davei...,dten/computus,15,computus,1313921,Cargo
714951,064081c49a3a8688a237369f37b65e291dbf2ed5@gmail...,exponentjs/osascript,15,osascript,2199435,Cargo
714952,9aded200253158fd17a9635630c37c117981f2b3@live.com,quininer/cargo-outofdate,15,cargo-outofdate,2339065,Cargo
714953,70dc8f987f86caeee9eb2f4d36097b17f71e0bb6@gmail...,nathanfaucett/aabb3,15,aabb3,2515757,Cargo
714954,ae31f3a044751811b4a36eabbf97bb9f3170be5a@gmail...,mljs/bit-array,15,bit-array,1582288,Cargo
714955,ea92365a9a7fc4a7d81507369718ea53521f1dc0@tlmat...,psotres/openssl-verify,15,openssl-verify,1438796,Cargo
714956,d686388988834d65fc81e369ba5664f7ca0d4da1@qq.com,cqcre/cqc,15,cqc,3237753,Cargo
714957,b54c5962a43139c512b553220697b39524f904e8@gmail...,Grieverheart/dsfmt-rs,15,dsfmt-rs,30925,Cargo
714958,7ca6c1515a632399abd113f1793579697ae5a315@ucw.cz,rust-locale/translate-storage,15,translate-storage,2259578,Cargo
714959,3523e4af416118b0b2043050acc47099ca80c941@gmail...,tafia/xl2txt,15,xl2txt,2273309,Cargo
714960,ac5715edc83537ae707270926b8fcf875db82fea@bitla...,acdimalev/telnetify,15,telnetify,1723000,Cargo
714961,67bfb9df93a6d3b3381eff060328c940f461da89@epite...,Vins54/parse_arg,15,parse_arg,3384016,Cargo
714962,3d0f3b9ddcacec30c4008c5e030e6c13a478cb4f@famil...,dntoll/mcp3008,15,mcp3008,2644213,Cargo
714963,a9efde0538c02e5f7f741ef394bdae7b3d36c657@gmail...,jtpaasch/envfile,15,envfile,3394199,Cargo
714964,2424f7e375ac81b78b3d01033b1a56d81924e5ae@gmail...,szank/gphoto,15,gphoto,1040791,Cargo
714965,b1c1d8736f20db3fb6c1c66bb1455ed43909f0d8@daiya...,envelope-project/mlem,15,mlem,2264188,Cargo
714966,504d327c2b1839a7d142d2c4d04ab89ddd38de1c@dacpa...,dacpac/modifier,15,modifier,31167,Cargo
714967,6b0d31c0d563223024da45691584643ac78c96e8@rkusa.st,rkusa/implode,15,implode,2645083,Cargo
714968,2e8e55a9d9efaf0f3ec132ed63f82561eedf3346@metas...,cswindle/hyper-dns,15,hyper-dns,2319871,Cargo
714969,8713c753354f70c8ab3f92819c83c11ddc65fcae@cdmck...,cdmckay/dnum,15,dnum,2313761,Cargo
714970,a17fed27eaa842282862ff7c1b9c8395a26ac320@mikep...,Noctune/radix-heap,15,radix-heap,1220963,Cargo
714971,251e43ad0c4bcd54011ba199850121588b94175e@gmail...,siegfried/rist,15,rist,1513378,Cargo
714972,f06251451de5eebca2cd34a4fd7936af28099c5e@users...,kodokse/etrace,15,etrace,2716053,Cargo
714973,d9f6a08f89e436fe15af44a948d5dd38dac9ea58@gmail...,Jarvl/pin-api,15,pin-api,2682762,Cargo
714974,9a34a276a8450e86198f6412ebcc40b1fe8156af@neo9.fr,freedonaab/repay,15,repay,2113681,Cargo
714975,79db50e9d32ba55971a0140906ee759f175529cc@gmail...,mfornos/tico,15,tico,2498485,Cargo
714976,7478dba6682c631c29bb5d8db3571688fdd8aa67@shike...,k0gaMSX/utmp,14,utmp,31511,Cargo

In [23]:
#Check if Nulls or NaNs
df_contrib.isnull().sum()

maintainer       0
repo             0
contributions    0
Name             0
ID               0
Platform         0
dtype: int64

In [24]:
#Write cargo contributors
df_contrib.to_csv('data/cargo-contributors.csv', index= False)